name: Build & Push to GHCR

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'server/**'
      - '.github/workflows/build-linux.yml'
  pull_request:
    branches: [main]
    paths:
      - 'server/**'
      - '.github/workflows/build-linux.yml'

jobs:
  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set lowercase repository owner
        id: repo_owner
        run: echo "lowercase=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./server
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          tags: |
            ghcr.io/${{ steps.repo_owner.outputs.lowercase }}/jacob-party:${{ github.sha }}
            ghcr.io/${{ steps.repo_owner.outputs.lowercase }}/jacob-party:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
